/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
  }
  
  .content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
    background-color: #f1f1f1;
    min-height: 100vh;
  }
  